main{
    display: flex;
    flex-wrap: wrap;
    min-height: 93vh;
}
main>section{
    display: flex;
    flex:1 1 50%;
}
main>#left{
    display: flex;
    justify-content: center;
    align-items: center;
}
main>#left h2{
    font-size: 3rem;
    color: white;
}
main>#left >div{
    background-color: yellow;
    background: linear-gradient(#fff,
    #ffb100,
    #222);
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
main>#right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: double 7px black;
}
main>#right >h2{
    font-size: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 40px;
}
input,textarea,label,form>button{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3px;
}
form>label{
    font-weight: bold;
}
form >button{
    background-color: black;
    color: #fff;
    margin-top: 30px;
}